<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <title>Tugas Arif Rahman Muda</title>

    
</head>
<body>
    <header>
        <nav class="nav-container">
            <ul class="nav-list">
                <li><p>Derif's Profile</p></li>
                <li><a href="./index.html">Home</a></li>
                <li><a href="#">About</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div id="content">
            <div class="right-side-content">
                <article>
                    <div class="article-text">
                        <p>THE <span style="color: #FAB95B;">EXPERT</span> OF COMPLETING MANY TASKS</p>
                    </div>
                </article>
                
                <article>
                    <div class="card-content">
                        <p>i'm Arif Rahman Muda (12450111287), nice to meet you here. I'm a student who learning by creating something and i love spicy chicken nuggets. Lets connect 🚀</p>
                        <button id="btn" class="read">Read more</button>    
                        <button id="btn" class="contact">Contact me</button>    

                    </div>
                </article>
            </div>
            
            <div class="left-side-content">
                 <aside>
                        <img src="../images/arif-pic.png"/>
                </aside>
            </div>
     </div>
            
     
    </main>

    <footer>
        <p>Copyright © 2026 Arif Rahman Muda.</p>
    </footer>
</body>
</html>